<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
                <exclude>org.apache.lucene:lucene</exclude>
            </excludes>
        </dependencySet>
    </dependencySets>
     <fileSets>
         <fileSet>
    		  <directory>_site</directory>   			   
		  <includes>
			  <include>**/img/**</include>
			  <include>**/css/tp/*.css</include>
			  <include>**/js/lib/jquery-1.11.0.min.js</include>
			  <include>**/js/lib/bootstrap.min.js</include>
			  <include>**/js/plugins/*.min.js</include>
			  <include>**/js/config.min.js</include>
			  <include>**/js/esv.min.js</include>
			  <include>**/js/esv.editor.min.js</include>
			  <include>**/js/esv.queries.min.js</include>
			  <include>**/js/esv.cc.min.js</include>
			  <include>**/js/esv.viewfacades.min.js</include>
			  <include>**/js/views/esv.viewlibs.min.js</include>
		          <include>**/js/views/esv.chipheatmap.min.js</include>
		          <include>**/js/views/esv.scatterplot.min.js</include>
		          <include>**/js/views/esv.violin.min.js</include>
		          <include>**/js/views/esv.cellscape2.min.js</include>
			  <include>**/fonts/**</include>
		  </includes>
		  <excludes>
			  <exclude>**/docs/**</exclude>
			  <exclude>**/tests/**</exclude>
		  </excludes>
        </fileSet>
      </fileSets>
      <files>
	      <file>
		      <source>plugin-descriptor.properties</source>
		      <destName>plugin-descriptor.properties</destName>
	      </file>
	      <file>
		      <source>_site/index.plugin.html</source>
		      <destName>_site/index.html</destName>
	      </file>
	      <file>
		      <source>_site/css/main.min.css</source>
		      <destName>_site/css/main.min.css</destName>
	      </file>
	      <file>
		      <source>_site/font-awesome-4.1.0/css/font-awesome.min.css</source>
		      <destName>_site/font-awesome-4.1.0/css/font-awesome.min.css</destName>
	      </file>
	      <file>
		      <source>_site/js/plugins/jquery.gridster.min.js</source>
		      <destName>_site/js/plugins/jquery.gridster.min.js</destName>
	      </file>
	      <file>
		      <source>_site/js/plugins/bootstrap-multiselect.custom.min.js</source>
		      <destName>_site/js/plugins/bootstrap-multiselect.custom.min.js</destName>
	      </file>
	      <file>
		      <source>_site/js/plugins/bootstrap-slider.min.js</source>
		      <destName>_site/js/plugins/bootstrap-slider.min.js</destName>
	      </file>
      </files>
</assembly>
